.projectItem {
  display: flex;
  flex-direction: columns;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 120px;
  min-height: 120px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(162, 221, 248);
  font-weight: 600;
}
