.projectItem {
  display: flex;
  flex-direction: columns;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  text-align: center;
}

.high {
  background-color: rgb(255, 129, 129);
}

.medium {
  background-color: rgb(240, 178, 62);
}

.low {
  background-color: yellow;
}

.completed {
  background-color: rgb(157, 231, 45);
}
