body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
  width: 100vw;
  flex-grow: 1;
}

#main {
  width: 100vw;
}

.title {
  text-align: center;
}

.home,
.contact {
  display: flex;
  flex-direction: column;
  margin: 20px 4rem;
  align-items: center;
}

.menu-section {
  display: flex;
  flex-direction: column;
  margin: 20px 4rem;
}

.image-container > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  text-align: center;
  /* margin-top: auto; */
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  margin: 10px;
}
